@font-face {
    font-family: cs-light;
    src: url("assets/cs-light-regular.otf") format("opentype");
}

@font-face {
    font-family: cromlin-demo;
    src: url("assets/cromlin-demo-regular.otf") format("opentype");
}

@font-face {
    font-family: brown-sunflower;
    src: url("assets/brown-sunflower.ttf") format("truetype");
}

@font-face {
    font-family: rrollie-regular;
    src: url("assets/rrollie-regular.otf") format("opentype");
}

@font-face {
    font-family: sofia-pro;
    src: url("assets/sofia-pro-regular.otf") format("opentype");
}

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cs-light;
    color: #fbf9d9;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: #fbf9d9;
    background-color: #fbf9d9;
    overflow-x: hidden;
}

header {
    background-color: transparent;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 20px 30px 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 200px;
}

.navbar-logo {
    display: flex;
    height: 76px;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-item {
    color: #fbf9d9;
}

.nav-link {
    border-bottom: 0.3rem solid transparent;
    color: #fbf9d9;
}

.nav-link:hover {
    color: #fff9a7;
    border-bottom: 0.3rem solid #fff9a7;
}

.nav-item:hover {
    color: #fff9a7;

}


.nav-item {
    text-transform: uppercase;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black url(assets/banner.jpg) no-repeat top center fixed;
    background-size: cover;
    filter: brightness(0.85);
    z-index: -1;
    
}

.main-content {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100vw;
}

.main-title {
    font-size: 10rem;
    font-family: 'sofia-pro-regular';
}

.order-btn {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #fbf9d9;
}

.more-text {
    position: absolute;
    bottom: 10%;
    left: 49%;
    border: none;
    background: none;
}

.spacer {
    height: calc(100vh - 200px);
    width: 100vw;
}

.main-content-2 {
    background-color: #fbf9d9;
    /* height: calc(0.8 * (100vh - 200px)); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}
.cake-type {
position: absolute;
bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-family: 'brown-sunflower';
  text-transform: capitalize;

}

.cake-image {
    /* max-height: 600px; */ 
    /* height: 700px; */
    margin-top: 60px;
    margin-bottom: 60px;
    aspect-ratio: 1.5;
    max-height: 1000px;
    height: 760px;
}

.main-content-3 {
    padding: 140px 200px 140px 90px;
    background-color: black;
    font-family: 'rollie-regular';

    display: flex;
    justify-content: center;
    align-items: center;
}

.title-2 {
    font-size: 72px;
    text-align: left;
    line-height: 1;
}

.content-text-3 {
    font-size: 24px;
    line-height: 3;

}

.cake-container {
    height: 400px;
    background-color: #fbf9d9;
}

.cake-container:nth-child(2n) {
    padding-left: 1px;
    padding-right: 1px;
}

.cake-container:last-child {
    padding-right: 0 !important;
}


.cake-group {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    
}

footer {
    padding-top: 80px;
    padding-bottom: 24px;
    background-color: black;
}

footer a {
    text-decoration: none;
    color: #fbf9d9;
    font-size: 24px;
}